body {
    padding: 0;
    margin: 0;
    z-index: 99;
}

.container {
    display: flex;
    width: 100%;
    height: 500px;
}

.leftColumn {
    width: 20%;
    order: 0;
    flex-basis: auto;
    height: inherit;
    position: relative;
}

.rightColumn {
    width: 80%;
    height: inherit;
    order: 1;
    background-color: #ffffff;
}

.list {
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    height: auto;
    /* background-color: red; */
    flex-wrap: wrap;
    -webkit-box-shadow: 5px 5px 2px 5px rgba(0,0,0,0.26);
    -moz-box-shadow: 5px 5px 2px 5px rgba(0,0,0,0.26);
    box-shadow: 5px 5px 2px 5px rgba(0,0,0,0.26);
}

.postNew {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
}